*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --baseFontSize: 1rem;
    --h1FontSize: 2rem;
    --h3FontSize: 1.3rem;
    --inputFontSize: 1.2rem;   
}

body {
    background-color: lightslategray;
    height: 100vh;
}

h1 {
    font-size: var(--h1FontSize);
}

h3 {
    font-size: var(--h3FontSize);
}

header {
    padding: 0.5rem;
}

.container {
    margin: auto;
    max-width: 1140px;
    background-color: lightgray;
}

.container header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    background-color: lightsteelblue;
    padding: 0.5rem;    
}

.library {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card {
    background-color: lightyellow;
    margin: 1rem;
    border-radius: 8px;
    overflow:hidden;
}

.book-title {
    font-weight: bold;
}

.card-header {
    background-color: yellowgreen;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-end;
}

.remove-book {
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: url(/img/close-icon.svg) no-repeat top left;
    background-size: 18px;
    cursor: pointer;
    margin: 0.3rem;
}

.remove-book:hover {
    transform: scale(1.1);
}

.card-content {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    padding-right: 3rem;
    padding-left: 0.6rem;
}

.card-footer {
    background-color: yellowgreen;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-end;
}

.toggle {
    appearance: none;
    width: 31px;
    height: 18px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: red;
    transition: background-color ease 0.3s;
}
  
.toggle:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 14px;
    height: 14px;
    background: #fff;
    left: 2px;
    top: 2px;
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}
  
.toggle:checked {
    background-color:green;
}
  
.toggle:checked:before {
    left: 15px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.51);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modal-content {
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 500px;
    overflow:hidden;
}

.modal-content-header {
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    background-color: lightsteelblue;
}

.modal-content-body {
    padding: 1.5rem;
    height: 350px;
}

.add-book {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.add-book label {
    font-size: var(--h3FontSize);
}

.add-book input[type="text"] {
    padding: 10px 10px;
    line-height: 10px;
    font-weight: bold;
    font-size: var(--inputFontSize);
}

.add-book input[type="submit"] {
    font-weight: bold;
    font-size: var(--baseFontSize);
    height: 45px;
}

.add-book input[type="checkbox"] {
    height: 25px;
    width: 25px;
}

.book-read-input {
    display: flex;
    align-items: center;
}

@keyframes showModal {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes hideModal {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }    
}

.show {
    animation: showModal 0.2s ease-in;
    transform: scale(1);
}

.hide {
    animation: hideModal 0.2s ease-in;
    transform: scale(0);
}